*, *::before,::after{
    box-sizing: border-box;
}
*{
 font-size:100%;
 font:inherit;
    margin: 0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: baseline;
}
main{ 
align-self: baseline;
    vertical-align: middle;
}